.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #555;
    text-align: center;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 300;
    overflow:hidden;
  }
  
 .leftside {
    font-size: 240%;   
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    
    }
 .block{
    border: 1px solid white;
    padding-bottom: 200px;
    overflow:hidden;
    }
 .inside {
     padding-left: 80px;
     padding-top: 100px;
     padding-bottom: 60px;
     float: left;
    }
 .clear {
     clear: both;
    }
 .detailsst {
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
     font-size: 12px;
     margin-top: 20px;
     overflow:hidden;
    }
 .bookmark {
     margin-left: 170px;
    }
.home {
     margin-top: 80px;
     padding-top: 90px;
     padding-bottom: 250px;
     padding-left: 500px;
     overflow:hidden;
    }
.cycle-pager {
    z-index: 200;
    position:absolute;
    top: 2px;
    overflow:hidden;
}